<launch>
  <arg name="dataset_name" default="iris"/>

  <!-- Frame IDs -->
  <arg name="base_link_frame_id" value="base_link"/>
  <arg name="left_cam_frame_id"  value="camera_fisheye1_optical_frame"/>
  <arg name="right_cam_frame_id" value="camera_fisheye2_optical_frame"/>

  <!-- ROS Topics -->
  <arg name="left_cam_info_topic"  value="/camera/left/camera_info"/>
  <arg name="right_cam_info_topic" value="/camera/right/camera_info"/>

  <node pkg="kimera_vio_ros" type="camera_info_yamlizer_node.py"
        name="cam_info_yamelizer" output="screen">
    <param name="base_link_frame_id" value="$(arg base_link_frame_id)"/>
    <param name="left_cam_frame_id"  value="$(arg left_cam_frame_id)"/>
    <param name="right_cam_frame_id" value="$(arg right_cam_frame_id)"/>

    <param name="left_cam_info_topic"  value="$(arg left_cam_info_topic)"/>
    <param name="right_cam_info_topic" value="$(arg right_cam_info_topic)"/>
    <param name="output_dir"
           value="$(find kimera_vio_ros)/param/$(arg dataset_name)"/>
  </node>
</launch>
